@*@model AfterWorkTambayan.Domain.Entities.Category*@
           
<tr data-category-id="@Model.CategoryId">
    <td style="text-align:center; vertical-align:middle"><input type="checkbox"/></td>
    <td style="text-align:center; vertical-align:middle"><img src="@Model.ImageUrl" alt="Image Source" height="40" width="50"/></td>
    <td style="text-align:center; vertical-align:middle">@Model.Name</td>
    <td style="text-align:center; vertical-align:middle">@Model.Description</td>
</tr>