@{
    ViewBag.Title = "About";
}

<div class="hero-unit">
    <div class="container">
        <h2>Working with Bootstrap and AngularJS in ASP.NET MVC 4 <span class="lead">(Ongoing)</span></h2>
        <p class="lead">Using Bootstrap with ASP.NET MVC partial view proves to be non-trivial and full of land mines for the unwary.</p>
        <p><a href="/Restaurant" class="btn btn-success">Get Started</a></p>
    </div>
</div>    




