@{
    ViewBag.Title = "About";
}

<div class="hero-unit">    
    <h2>Working with Bootstrap and AngularJS in ASP.NET MVC 4 <span class="lead">(Ongoing)</span></h2>
    <p class="lead">
        Using Bootstrap with ASP.NET MVC partial view proves to be non-trivial and full of land mines for the unwarytest test ok more .<br />
        <span style="font-size: 14px; font-weight: bold">
            Also, AngularJS appears to be not reloadable in partial view and care must be taken to refresh the whole page when not using it as SPA.
        </span>
    </p>
    <p><a href="/Restaurant" class="btn btn-success">Get Started</a></p>    
</div>      




