@{
    ViewBag.Title = "Another";
}

@section Notice {
    <div class="container">
        <div class="row-fluid">
            <div class="span2 pull-left">
                <span id="siteNotice" class="label label-important">Site Notice</span>
                <div id="siteMsg" class="alert-error" style="padding: 5px; text-align:left">
                    Please be advised that this site is closing down in xx minutes.
                </div>
            </div>
            <div class="span8" style="text-align:center">
                <p>Banner Zone</p>
            </div>
            <div class="span2 pull-right">
                <span id="adminNotice" class="label label-success">Admin Notice</span>
                <div id="adminMsg" class="alert-success" style="padding: 5px; text-align:left">
                    Please get access credentials from your department representatives.
                </div>                
            </div>
        </div>
    </div>
}





           